
  {% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href= {% static "style.css" %} >
    <title> {% block title %}Log In Page{% endblock  %} </title>
    <link rel="icon" type="images/x-icon" href="../static/img/logo.png" />
  </head>
  <body style="background-color:#1a237e1f">
    <div class="container" style="margin-top:5rem; width: 30rem; height: 24rem;">
      {% include "include/alert.html" %}
      <h2 class="text-center mt-5">Change Password</h2>
      <br>
      <form  action={% url 'change_pass'%} method="POST">
             {% csrf_token %}  
        <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-2 col-form-label" >Current Password</label>
          <div class="col-sm-10">
            <input type="password" name="c_pass" placeholder="enter current password" class="form-control" id="inputPassword3" >
          </div>
        </div>
        <br>
        <div class="row mb-3">
          <label for="inputPassword31" class="col-sm-2 col-form-label" >New Password</label>
          <div class="col-sm-10">
            <input type="password" name="new_pass" placeholder="enter new password" class="form-control" id="inputPassword31" >
          </div>
        </div>
        <br>
        <div class="row mb-3">
          <label for="inputPassword32" class="col-sm-2 col-form-label" >Confirm Password</label>
          <div class="col-sm-10">
            <input type="password" name="con_pass" placeholder="enter confirm password" class="form-control" id="inputPassword32">
          </div>
        </div>
        <br>        
        <button type="submit" style="background-color:#0d214c" class="btn btn-primary form-control">Reset</button>
        <br>
      <small>now login      <a class="text-decoration-none" href="{% url 'login'%}">click hear</a></small>
      </form>
      <br>
    
<!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  -->
</body>
</html>